* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  width: 70%;
  margin: 40px auto;
  line-height: 1.2;
  font-family: Helvetica, sans-serif;
  padding-bottom: 100px;
}
h1 {
  font-size: 5vw;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1em;
}
.TimeandName {
  border-bottom: 2px solid #ccc;
  margin: 30px 30px 25px 30px;
  font-weight: 500;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.content {
  margin: 0px 15px;
  line-height: 30px;
}
.text::first-letter {
  font-size: 300%;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(88, 161, 214);
}

.cityframe {
  text-align: center;
  width: 30%;
  margin-top: 50px;
  display: flex;
  align-content: space-around;
  transition: 1s;
  margin-bottom: 40px;
}
.cityname {
  font-size: 1.2vw;
  text-align: center;
  transform: translateY(45px);
  opacity: 0;
}

.rankingnumber {
  margin-bottom: -30px;
  opacity: 1;
  transition: 1s;
}

a img {
  width: 100%;
  transition: 0s;
}
img {
  transition: 1s;
}
.cityframe:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: rgb(43, 161, 112);
  border-radius: 15px;

  background-color: black;
  transform: scale(180%);
  transition-delay: 0.4s;
}

a:hover .cityname {
  transform: translateY(0px);
  transition: 1s;
  opacity: 1;
  transition-delay: 0.7s;
}
a:hover .rankingnumber {
  transform: translateY(-45px);

  opacity: 0;
  transform: translateY(-45px);

  visibility: hidden;
}
a:hover img {
  width: 95%;
}
.picsframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.sitepic {
  width: 60%;
  margin: 30px 0;
  border: rgb(88, 161, 214) solid 5px;
  border-radius: 15px;
}
.sitepic:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 2.5px;
  width: 100%;
  border-radius: unset;
  border: unset;
}
.backtoindex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc61;
  font-size: 2.5vw;
  text-align: center;
  color: rgb(88, 161, 214);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
.backtoindex a {
  font-size: 2vw;
}
.backtoindex a:hover {
  color: black;
  transition: 1s;
}

@media (max-width: 768px) {
  body {
    width: 90%;
    padding-bottom: 1em;
  }
  .cityframe {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .cityname {
    font-size: 1.5em;
    transform: translateY(0px);
    opacity: 1;
  }
  .rankingnumber {
    margin-bottom: 0px;
  }
  .sitepic {
    width: 95%;
  }
  .cityframe:hover {
    transform: unset;
  }
  a:hover .rankingnumber {
    transform: unset;

    opacity: 1;
    transform: unset;

    visibility: unset;
  }
}
