* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}
.main {
  display: flex;
}

.red {
  background-color: red;
  height: 400px;
}
.blueandgreen {
  width: 40%;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.white {
  background-color: white;
  color: black;
  height: 400px;
  width: 15px;
}
.red.exe1,
.red.exe2 {
  width: 60%;
}
.blue.exe1,
.green.exe1,
.blue.exe2,
.green .exe2 {
  height: 200px;
}
.exe3,
.exe4 {
  width: 33.3333%;
  height: 400px;
}
